.photo-grid {
    
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(3, minmax(auto, 213px));
    grid-template-columns: repeat(4, minmax(auto, 284px));
    margin: 92px 48px 0;
    
    
}

@media screen and (max-width: 1280px){
    .photo-grid {
        max-width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1079px){
    .photo-grid {
        grid-template-columns: repeat(3, minmax(auto, 300px));
        grid-template-rows: repeat(4,minmax(auto, 225px));
        gap: 14px;
    }
}

@media screen and (max-width: 1023px){
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        gap: 16px;
        max-width: calc(100% - 2 * 24px);
        margin: 88px 24px 88px;
        
    }
}
@media screen and (max-width: 767px){
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(12, auto);
        gap: 12px;
        margin: 64px 16px 12px;
    }
}

@media screen and (max-width: 320px){
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
    }
}