.place__text {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 484px;
    
}
@media screen and (max-width: 1024px){
    .place__text  {
        max-width: 456px;
        
    }
}

@media screen and (max-width: 768px){
    .place__text {
        max-width: 352px;
    }
}

@media screen and (max-width: 650px){
    .place__text{
        margin: 32px 16px 26px;
        grid-column: 1 / 1;
        
    }
}

